// COLORS
$primary: #5c62c5;
$dark-grey: #363636;
$ligth-grey: #d8d8d8;

body {
    background-color: #000;
}

@media screen and (min-width: 576px) {
  body {
    background-attachment: fixed;
    background-image: url("../../assets/images/hpw2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
