// COLORS
$primary: #5c62c5;
$dark-grey: #363636;
$ligth-grey: #d8d8d8;


.mt-1{
  margin-top: 5px !important;
}

.mt-5{
  margin-top: 10px !important;
}

.mt-10{
  margin-top: 20px !important;
}


.mb-1{
  margin-bottom: 5px !important;
}

.mb-5{
  margin-bottom: 10px !important;
}

.mb-10{
  margin-bottom: 20px !important;
}

.mg{
  margin: 20px !important;
}